#Data Manipulation With Python Part 1

Manipulating data here is not manipulating data, not making data inconsistent with its original value. But Data Manipulation is here to make data easier when analyzed by machines.

First, import the required libraries.
Here using pandas and numpy libraries

In [ ]:
import pandas as pd
import numpy as np

In the pandas library, it has two objects, namely series and data frames

#Object Series

The object series has one dimension. It doesn't have a column name because it only has one column. And has an index.

Example:

In [ ]:
age=[25,50,7,1,12,36]

How to convert data into series form?

Example:

In [ ]:
age=pd.Series(age)

In [ ]:
age

0    25
1    50
2     7
3     1
4    12
5    36
dtype: int64

How to Convert data into array?

Example:

In [ ]:
age.values

array([25, 50,  7,  1, 12, 36])

Show index

The index is a range, where the starting point is inclusive of the range and the stop point is exclusive to the range.

In [ ]:
age.index

RangeIndex(start=0, stop=6, step=1)

The implicit index is the default index. We can define the index, this is called the explicit index i.e. the index being defined. When defining an index, the number of indexes must equal the number of data.

Example:

In [ ]:
age=pd.Series([25,50,7,1,12,36], index=['a', 'b', 'c', 'd', 'e', 'f'])

In [ ]:
age

a    25
b    50
c     7
d     1
e    12
f    36
dtype: int64

Call data using explicit index

In [ ]:
age['b']

50

Even if we have created an explicit index, we can still call the implicit index.

In [ ]:
age[1]

50

When the implicit index and the explicit index are the same. When we call the data, it will only rely on the explicit index.

Example:

In [ ]:
age2=pd.Series([25,50,7,1,12,36], index=[2,1,6,3,4,5])

In [ ]:
age2

2    25
1    50
6     7
3     1
4    12
5    36
dtype: int64

Call using explicit index.

In [ ]:
age2[6]

7

Call using implicit index.

In [ ]:
age2[0]

KeyError: ignored

Expalantion : The result will be an error, because it can only assume an explicit index.

#loc and iloc

With loc and iloc you can do practically any data selection operation on DataFrames you can think of. loc is label-based, which means that you have to specify rows and columns based on their row and column labels. iloc is integer index based, so you have to specify rows and columns by their integer index.

Example:

In [ ]:
age2=pd.Series([25,50,7,1,12,36], index=[2,1,6,3,4,5])

When we access one index then what appears is the explicit index

In [ ]:
age2[6]

7

Explanation : when the implicit index is called there will be an inconsistency as in the case above.

loc and iloc are used to resolve inconsistencies.

loc is for calling explicit index.

iloc is for calling implicit index.

In [ ]:
#loc
age2.loc[6] #selecting indeks explicit

7

In [ ]:
age2.loc[2:6] #slicing indeks explicit

2    25
1    50
6     7
dtype: int64

In [ ]:
#iloc

age2.iloc[3] #selecting indeks implicit

1

In [ ]:
age2.iloc[1:4] #slicing indeks implicit

1    50
6     7
3     1
dtype: int64

#Data Frame

Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.

In [ ]:
dict_age={'Sharon': 25,
          'Alex':20,
          'Kate':35,
          'Justin':27,
          'Benx':49}
dict_age

{'Alex': 20, 'Benx': 49, 'Justin': 27, 'Kate': 35, 'Sharon': 25}

In [ ]:
ages=pd.Series(dict_age)

In [ ]:
ages

Sharon    25
Alex      20
Kate      35
Justin    27
Benx      49
dtype: int64

In [ ]:
ages.loc['Kate']

35

In [ ]:
ages.iloc[2]

35

In [ ]:
dict_location={'Sharon': 'California',
               'Alex': 'New York',
               'Kate': 'Los Angeles',
               'Justin': 'Canada',
               'Benx': 'Washington'}
location=pd.Series(dict_location)

In [ ]:
location

Sharon     California
Alex         New York
Kate      Los Angeles
Justin         Canada
Benx       Washington
dtype: object

In [ ]:
people=pd.DataFrame({'age':ages, 'location':location})

In [ ]:
people

        age     location
Sharon   25   California
Alex     20     New York
Kate     35  Los Angeles
Justin   27       Canada
Benx     49   Washington

Added a new column.

In [ ]:
people['Weight']=people['age']*1.5

In [ ]:
people

        age     location  Weight
Sharon   25   California    37.5
Alex     20     New York    30.0
Kate     35  Los Angeles    52.5
Justin   27       Canada    40.5
Benx     49   Washington    73.5

Add a new line.

In [ ]:
people_add=pd.DataFrame({'Claire':[57,'Colorado',56]})

In [ ]:
people_add

     Claire
0        57
1  Colorado
2        56

In [ ]:
people_add=people_add.T

In [ ]:
people_add

         0         1   2
Claire  57  Colorado  56

In [ ]:
people_add.columns=people.columns

In [ ]:
people_add

       age  location Weight
Claire  57  Colorado     56

In [ ]:
pd.concat([people,people_add])

       age     location Weight
Sharon  25   California   37.5
Alex    20     New York   30.0
Kate    35  Los Angeles   52.5
Justin  27       Canada   40.5
Benx    49   Washington   73.5
Claire  57     Colorado     56